In [ ]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors
import sqlalchemy
import psycopg2
import numpy as np
import pickle

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
df_metrics = pd.read_sql_table('features', 'postgresql://qgklpoko:ay_DriUGUMiRZAr8aeGKEaJECK4s4Zgx@kashin.db.elephantsql.com/qgklpoko', index_col='index')
df_metrics.head()

       explicit  danceability  energy  ...  duration_ms  time_signature    year
index                                  ...
0         False         0.470   0.978  ...       210133             4.0  1999.0
1          True         0.599   0.957  ...       206200             4.0  1999.0
2         False         0.315   0.970  ...       298893             4.0  1999.0
3          True         0.440   0.967  ...       213640             4.0  1999.0
4         False         0.426   0.929  ...       205600             4.0  1999.0

[5 rows x 15 columns]

In [ ]:
max(df_metrics['duration_ms'])

6061090

In [ ]:
max(df_metrics['tempo'])

248.934

In [ ]:
max(df_metrics['key'])

11

In [ ]:
print(min(df_metrics['loudness']))
max(df_metrics['loudness'])

-60.0

7.234

In [ ]:
df_metrics['duration_norm'] = df_metrics['duration_ms'] / 6061090
df_metrics['tempo_norm'] = df_metrics['tempo'] / 248.934
df_metrics['key_norm'] = df_metrics['key'] / 11

In [ ]:
df_metrics['loudness_norm'] = (df_metrics['loudness'] - (-60.0)) / (7.234 - (-60.0))

In [ ]:
df_metrics.describe()

       danceability        energy  ...      key_norm  loudness_norm
count  1.204025e+06  1.204025e+06  ...  1.204025e+06   1.204025e+06
mean   4.930565e-01  5.095363e-01  ...  4.721956e-01   7.167697e-01
std    1.896694e-01  2.946839e-01  ...  3.215210e-01   1.038482e-01
min    0.000000e+00  0.000000e+00  ...  0.000000e+00   0.000000e+00
25%    3.560000e-01  2.520000e-01  ...  1.818182e-01   6.655264e-01
50%    5.010000e-01  5.240000e-01  ...  4.545455e-01   7.467799e-01
75%    6.330000e-01  7.660000e-01  ...  7.272727e-01   7.925008e-01
max    1.000000e+00  1.000000e+00  ...  1.000000e+00   1.000000e+00

[8 rows x 18 columns]

In [ ]:
df_features = df_metrics[['danceability', 'energy', 'key_norm', 'loudness_norm', 'mode', 'speechiness', 'acousticness', 
                          'instrumentalness', 'liveness', 'valence', 'tempo_norm', 'duration_norm']]
print(df_features.shape)
df_features.head()

(1204025, 12)

       danceability  energy  key_norm  ...  valence  tempo_norm  duration_norm
index                                  ...
0             0.470   0.978  0.636364  ...    0.503    0.473644       0.034669
1             0.599   0.957  1.000000  ...    0.489    0.416496       0.034020
2             0.315   0.970  0.636364  ...    0.370    0.601561       0.049313
3             0.440   0.967  1.000000  ...    0.574    0.388665       0.035248
4             0.426   0.929  0.181818  ...    0.539    0.510412       0.033921

[5 rows x 12 columns]

In [ ]:
# nn = NearestNeighbors(n_neighbors=5, algorithm='ball_tree')
# nn.fit(df_features)
unpickler = pickle.Unpickler(open('second_norm_model.pkl', 'rb'))
nn = unpickler.load()

In [ ]:
conn = psycopg2.connect('postgres://qgklpoko:ay_DriUGUMiRZAr8aeGKEaJECK4s4Zgx@kashin.db.elephantsql.com/qgklpoko', user='qgklpoko', password='ay_DriUGUMiRZAr8aeGKEaJECK4s4Zgx')
cur = conn.cursor()
query = "SELECT index FROM target WHERE name = 'problem' AND artists = 'pentatonix'"
cur.execute(query)
results = cur.fetchone()

In [ ]:
query = "SELECT danceability, energy, key, loudness, mode, speechiness, acousticness, instrumentalness, liveness, valence, tempo, duration_ms from features WHERE index = '" + str(results[0]) + "'"
cur.execute(query)
results = cur.fetchone()
results_list = list(results)
results_list[-1] = results_list[-1] / 6061090
results_list[2] = results_list[2] / 11
results_list[3] = (results_list[3] - (-60.0)) / (7.234 - (-60.0))
results_list[10] = results_list[10] / 248.934
arr = np.array(results_list)

In [ ]:
distances, indexes = nn.kneighbors(X=arr.reshape(1, -1), n_neighbors=6)

query = "SELECT name, artists FROM target WHERE index IN ("
first = True
for index in indexes[0][1:]:
  if first == False:
    query = query + ', ' + str(index)
  else:
    first = False
    query = query + str(index)
query = query + ")"
data = {'name':[], 'artists':[], 'distances': distances[0][1:]}
cur.execute(query)
records = cur.fetchall()
for record in records:
  data['name'].append(record[0])
  data['artists'].append(record[1])

pd.DataFrame(data)

                                       name  ... distances
0    histoires de fesses   extended version  ...  0.018456
1  loco tu forma de ser   remasterized 2001  ...  0.070611
2              momentary lapse of judgement  ...  0.075782
3                                   problem  ...  0.076132
4                        land of the living  ...  0.088039

[5 rows x 3 columns]

In [ ]:
filehandler = open('second_norm_model.pkl', 'wb')
pickle.dump(nn, filehandler)
filehandler.close()