In [ ]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors
import sqlalchemy
import psycopg2

In [ ]:
df_metrics = pd.read_sql_table('features', 'postgresql://qgklpoko:ay_DriUGUMiRZAr8aeGKEaJECK4s4Zgx@kashin.db.elephantsql.com/qgklpoko', index_col='index')
df_metrics.head()

       explicit  danceability  energy  ...  duration_ms  time_signature    year
index                                  ...
0         False         0.470   0.978  ...       210133             4.0  1999.0
1          True         0.599   0.957  ...       206200             4.0  1999.0
2         False         0.315   0.970  ...       298893             4.0  1999.0
3          True         0.440   0.967  ...       213640             4.0  1999.0
4         False         0.426   0.929  ...       205600             4.0  1999.0

[5 rows x 15 columns]

In [ ]:
nn = NearestNeighbors(n_neighbors=5, algorithm='ball_tree')
nn.fit(df_metrics)

NearestNeighbors(algorithm='ball_tree', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [ ]:
matrix = df_metrics.loc[3000].values.reshape(1, -1)
distances, indexes = nn.kneighbors(X=matrix, n_neighbors=6)

In [ ]:
conn = psycopg2.connect('postgres://qgklpoko:ay_DriUGUMiRZAr8aeGKEaJECK4s4Zgx@kashin.db.elephantsql.com/qgklpoko', user='qgklpoko', password='ay_DriUGUMiRZAr8aeGKEaJECK4s4Zgx')
cur = conn.cursor()

In [ ]:
query = "SELECT name, artists FROM target WHERE index IN ("
first = True
for index in indexes[0]:
  if first == False:
    query = query + ', ' + str(index)
  else:
    first = False
    query = query + str(index)
query = query + ")"
query

'SELECT name, artists FROM target WHERE index IN (3000, 898775, 473739, 369508, 545001, 391345)'

In [ ]:
cur.execute(query)
records = cur.fetchall()
for record in records:
  if record.index == 3000:
    continue
  print(record)

('fathering sun', 'noe venable')
('shifts of wood', 'christian kleine')
('seagull live', 'joe bonamassa')
('used to be', 'ugk  e 40  b legit  8ball  mjg')
('labour of love', 'incognito')
('if they move  shoot em', 'the flaming lips')

In [ ]:
max(df['duration_ms'])

6061090

In [ ]:
import pickle

In [ ]:
filehandler = open('dumb_model.pkl', 'wb')
pickle.dump(nn, filehandler)